body{
    background: linear-gradient(90deg, #3415e0, #477ef5, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
    }
    @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }   
}

.p1{
    text-align: center;
}

h1{
  font-weight: normal;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2{
  font-weight: normal;
  text-align: left;
}

h3{
  font-family: sans-serif;
}

p{
  text-align: justify;
  text-indent: 24px;
  line-height: 32px;
  word-spacing: 5px;
}

a.hover{
  text-decoration: underline;
}

a.active{
  color: #3415e0;
}

li{
  text-align: left;
  list-style-type: none;
  }


